## 4.6 Merging and Concatenating Data

### Import Libraries

In [16]:
import pandas as pd
import numpy as np
import os

## Import Datasets

In [17]:
df_ords=pd.read_csv('/Users/sportsfan922/Documents/InstacartBasketAnalysis1025/Prepared Data/ords_cleaned_Oct21.csv')
df_prods=pd.read_csv('/Users/sportsfan922/Documents/InstacartBasketAnalysis1025/Prepared Data/prods_cleaned_Oct21.csv')
df_orders_products_prior=pd.read_csv('/Users/sportsfan922/Documents/InstacartBasketAnalysis1025/Prepared Data/orders_products_prior.csv')

In [18]:
df_orders_products_prior.info

<bound method DataFrame.info of           order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]>

## Check the Output

In [19]:
df_orders_products_prior.head(10)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
5         2       17794                  6          1
6         2       40141                  7          1
7         2        1819                  8          1
8         2       43668                  9          0
9         3       33754                  1          1

In [20]:
df_orders_products_prior.shape

(32434489, 4)

In [21]:
df_ords.shape

(3421083, 7)

## Merge with DF Ords

In [26]:
df_merged_large = df_ords.merge(df_orders_products_prior, on = 'order_id',indicator = True)

In [27]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [28]:
df_merged_large.head(10)

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,0,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,0,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,0,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,0,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both
5,1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both
6,1,2398795,1,2,3,7,15.0,10258.0,2.0,0.0,both
7,1,2398795,1,2,3,7,15.0,12427.0,3.0,1.0,both
8,1,2398795,1,2,3,7,15.0,13176.0,4.0,0.0,both
9,1,2398795,1,2,3,7,15.0,26088.0,5.0,1.0,both

In [29]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [32]:
#Export data to pkl
df_merged_large.to_pickle('/Users/sportsfan922/Documents/InstacartBasketAnalysis1025/Prepared Data/orders_products_combined.pkl')